<!--menu-->
<!--diritto 0 -> tutto-->
<!--diritto 1 modifica -> tutto tranne creare utenti-->
<!--diritto 2 visualizza -> puo panoramica classi(no spostamenti) elenco studenti(no tag) e export, no creare utenti-->
<div class="ui inverted left vertical sidebar menu" id="left-menu">


    <%if (user.diritti ==  0) { %>
    <a class="item" href="<%= endpoint.alunni.uploadAlunniCsv %>">Caricamento studenti</a>
    <a class="item" href="/studenti">Elenco Studenti</a>
    <a class="item" href="/settings">Configurazione</a>
    <a class="item" href="/panoramica-classi">Panoramica classi</a>
    <a class="item" href="/crea-utente">Crea un utente</a>
    <br>
    <a class="item" href="/logout">Disconnetti <%=user.username%></a>
    <% } %>

    <%if (user.diritti == 1) { %>
    <a class="item" href="<%= endpoint.alunni.uploadAlunniCsv %>">Caricamento studenti</a>
    <a class="item" href="/studenti">Elenco Studenti</a>
    <a class="item" href="/settings">Configurazione</a>
    <a class="item" href="/panoramica-classi">Panoramica classi</a>
    <br>
    <a class="item" href="/logout">Disconnetti <%=user.username%></a>
    <% } %>


    <%if (user.diritti == 2) { %>
    <a class="item" href="<%= endpoint.alunni.uploadAlunniCsv %>">Caricamento studenti</a>
    <a class="item" href="/studenti">Elenco Studenti</a>
    <a class="item" href="/settings">Configurazione</a>
    <a class="item" href="/panoramica-classi">Panoramica classi</a>
    <br>
    <a class="item" href="/logout">Disconnetti <%=user.username%></a>
    <% } %>
</div>

<!--site content-->
<div class="pusher">

    <div class="ui sticky menu fixed top" id="top-menu" style="top:0px!important;">
        <a class="item mobile-button">Menu</a>

