<% include header %>

<body>
<% include sidebar-start.ejs %>




<!--tabs-->
<div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">Prime</a>
    <a class="item " data-tab="third">Terze</a>
    <a class="item " data-tab="tags">Tags</a>
</div>
<div class="ui bottom attached tab active  segment" data-tab="first">

    <div class="tableContainer">
            <table id="studenti" class="ui celled teal table" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>Matricola</th>
                    <th>Codice fiscale</th>
                    <th>Sesso</th>
                    <th>Data di nascita</th>
                    <th>Stato</th>
                    <th>Nazionalita</th>
                    <th>Classe precedente</th>
                    <th>Cap residenza</th>
                    <th>Anno scolastico</th>
                    <th>Voto</th>

                </tr>
                </thead>

                <tbody>
                <% for(var i = 0; i < studentsPrima.length; i++){ %>
                <tr>
                    <td><%= studentsPrima[i].cognome %></td>
                    <td><%= studentsPrima[i].nome %></td>
                    <td><%= studentsPrima[i].matricola %></td>
                    <td><%= studentsPrima[i].cf %></td>
                    <td><%= studentsPrima[i].sesso %></td>

                    <% var mySQLDate = studentsPrima[i].data_di_nascita + '' %>

                    <% var date = new Date(Date.parse(mySQLDate.replace('-', '/', 'g'))); %>
                    <% var day = date.getUTCDate() + 1 %>
                    <% var month = date.getMonth() + 1 %>
                    <% var year = date.getUTCFullYear() %>
                    <% var finalDate = day + '/' + month + '/' + year %>
                    <td><%= finalDate %></td>

                    <td><%= studentsPrima[i].stato %></td>
                    <td><%=studentsPrima[i].nazionalita %></td>
                    <td><%= studentsPrima[i].classe_precedente %></td>
                    <td><%= studentsPrima[i].CAP %></td>
                    <td><%= studentsPrima[i].anno_scolastico %></td>
                    <td><%= studentsPrima[i].voto %></td>

                </tr>
                <% } %>

                </tbody>
                <tfoot>
                <tr>
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>Matricola</th>
                    <th>Codice fiscale</th>
                    <th>Sesso</th>
                    <th>Data di nascita</th>
                    <th>Stato</th>
                    <th>Nazionalita</th>
                    <th>Classe precedente</th>
                    <th>Cap residenza</th>
                    <th>Anno scolastico</th>
                    <th>Voto</th>
                </tr>
                </tfoot>
            </table>
    </div>
    <!--close first tabs-->
</div>

<!--third tabs-->
<div class="ui bottom attached tab segment" data-tab="third">


    <div class="tableContainer">
    <table id="studenti-terza" class="ui celled teal table" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Codice fiscale</th>
            <th>Sesso</th>
            <th>Data di nascita</th>
            <th>Stato</th>
            <th>Cap provenienza</th>
            <!--<th>scelta_indirizzo</th>  ho commentato perchè troppo largo e rompe layout tabella-->
            <th>Anno scolastico</th>
            <th>Anno</th>
            <th>Cod_cat</th>
            <th>media_voti</th>
            <th>classe_futura</th>

        </tr>
        </thead>

        <tbody>
        <% for(var i = 0; i < studentsTerza.length; i++){ %>
        <tr>
            <td><%= studentsTerza[i].cognome %></td>
            <td><%= studentsTerza[i].nome %></td>
            <td><%= studentsTerza[i].cf %></td>
            <td><%= studentsTerza[i].sesso %></td>

            <% var mySQLDate = studentsTerza[i].data_di_nascita + '' %>

            <% var date = new Date(Date.parse(mySQLDate.replace('-', '/', 'g'))); %>
            <% var day = date.getUTCDate() + 1 %>
            <% var month = date.getMonth() + 1 %>
            <% var year = date.getUTCFullYear() %>
            <% var finalDate = day + '/' + month + '/' + year %>
            <td><%= finalDate %></td>

            <td><%= studentsTerza[i].stato %></td>
            <td><%= studentsTerza[i].cap_provenienza %></td>
            <!--<td><%= studentsTerza[i].scelta_indirizzo %></td>  ho commentato perchè troppo largo e rompe layout tabella -->
            <td><%= studentsTerza[i].anno_scolastico %></td>
            <td><%= studentsTerza[i].anno %></td>
            <td><%= studentsTerza[i].cod_cat %></td>
            <td><%= studentsTerza[i].media_voti %></td>
            <td><%= studentsTerza[i].classe_futura %></td>

        </tr>
        <% } %>

        </tbody>
        <tfoot>
        <tr>
            <th>cognome</th>
            <th>nome</th>
            <th>cf</th>
            <th>sesso</th>
            <th>data_di_nascita</th>
            <th>stato</th>
            <th>cap_provenienza</th>
            <!-- <th>scelta_indirizzo</th> ho commentato perchè troppo largo e rompe layout tabella -->
            <th>anno_scolastico</th>
            <th>anno</th>
            <th>cod_cat</th>
            <th>media_voti</th>
            <th>classe_futura</th>

        </tr>
        </tfoot>
    </table>
    </div>


</div>

<!--tags and insert-->
<div class="ui bottom attached tab segment" data-tab="tags">
    <div class="ui raised very padded text container segment">
        <h1 class="ui header">
            Inserimento tag
            <div class="sub header">Ricerca studente</div>
        </h1>
        <!--search-->
        <div class="ui category search">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Scrivi il nome...">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </div>


    <!--modal response -->
    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            <span id="cognome"></span>
            <span id="nome"></span>
        </div>
        <div class="image content">
            <div class="ui medium image">
                <div class="map" id="map"></div>
            </div>
            <div class="description">
                <div class="ui header">Dati</div>

                <!--table-->
                <table class="ui very basic collapsing celled table">
                    <thead>
                    <tr><th>Tipo</th>
                        <th>Dato</th>
                    </tr></thead>
                    <tbody>
                    <tr>
                        <td>
                            <h4 class="ui image header">
                                <div class="content">
                                    <b>Media voti </b>
                                </div>
                            </h4></td>
                        <td>
                            <span id="media-voti"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="ui image header">
                                <div class="content">
                                    <b>Codice catastale </b>

                                </div>
                            </h4></td>
                        <td>
                            <span id="codice-catastale"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="ui image header">
                                <div class="content">
                                    <b>Codice fiscale </b>

                                </div>
                            </h4></td>
                        <td>
                            <span id="cf"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="ui image header">
                                <div class="content">
                                    <b>Anno scolastico </b>

                                </div>
                            </h4></td>
                        <td>
                            <span id="anno-scolastico"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!--contains the dropdown. It's generate automatically-->
                <div class="right floated column" id="dropdown-container"></div>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Chiudi
            </div>
            <div class="ui positive right labeled icon button">
                OK,fatto
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

    <!--positive-->
    <div class="ui  positive  message transition  hidden" id="response">
        <i class="close icon"></i>
        <div class="header">
            Fatto!
        </div>
        <p>Il tag è stato aggiunto</p>
    </div>
    <!--negative-->
    <div class="ui negative message hidden" id="negative">
        <i class="close icon"></i>
        <div class="header">
            Oops!
        </div>
        <p>Ci deve esser stato un problema
        </p></div>
<!--thirds tabs-->
</div>

<% include sidebar-stop.ejs %>
<!--personal script for specific page -->
<script>
    $('.menu .item').tab();

</script>

<!--first class table-->
<script>
    $(document).ready(function () {
        var table = $('#studenti').DataTable({

            language: {
                searchPlaceholder: "Studente",
                search: "Cerca:",
                EmptyTable: "Nessun alunno presente, vai nella sezione caricamento studenti per aggiungere degli studenti.",
                paginate: { "sFirst": "Primo", "sLast": "Ultimo", "sNext": "Avanti", "sPrevious": "Indietro" },
                "sLengthMenu": "Display _MENU_ records"


            },
            processing: true,
            lengthChange: false,
            buttons: ['excel'],
            "columns": [
                {"data": "cognome"},
                {"data": "nome"},
                {"data": "cf"},
                {"data": "sesso"},
                {"data": "data_di_nascita"},
                {"data": "stato"},
                {"data": "cap_provenienza"},
                //{ "data": "scelta_indirizzo" },
                {"data": "anno_scolastico"},
                {"data": "anno"},
                {"data": "cod_cat"},
                {"data": "media_voti"},
                {"data": "classe_futura"}

            ]
        });
        table.buttons().container()
            .appendTo($('div.eight.column:eq(0)', table.table().container()));
        $('.sixteen').removeClass().addClass('tableContainer');

    });
</script>

<!--first class table-->
<script>
    $(document).ready(function () {
        var table = $('#studenti-terza').DataTable({

            language: {
                searchPlaceholder: "Studente",
                search: "Cerca:",
                    EmptyTable: "Nessun alunno presente, vai nella sezione caricamento studenti per aggiungere degli studenti.",
                paginate: { "sFirst": "Primo", "sLast": "Ultimo", "sNext": "Avanti", "sPrevious": "Indietro" }


            },
            processing: true,
            lengthChange: false,
            buttons: ['excel'],
            "columns": [
                {"data": "cognome"},
                {"data": "nome"},
                {"data": "cf"},
                {"data": "sesso"},
                {"data": "data_di_nascita"},
                {"data": "stato"},
                {"data": "cap_provenienza"},
                //{ "data": "scelta_indirizzo" },
                {"data": "anno_scolastico"},
                {"data": "anno"},
                {"data": "cod_cat"},
                {"data": "media_voti"},
                {"data": "classe_futura"}
            ]
        });
        table.buttons().container()
                .appendTo($('div.eight.column:eq(0)', table.table().container()));
        $('.sixteen').removeClass().addClass('tableContainer');
    });
</script>

                                                                <!--MAPS SECTION-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5HB8-mASDryN1tfLaJUvLVzd3ibJ5VUQ"></script>
<script>

    /**
     * param <cp> postal code -> es : 37030
     * this method init the maps
     * inside this, i call a api which return me the latitude and longitude by passing the postal code
     */
    function initMap(cp) {
        $.getJSON( {
            //https://maps.googleapis.com/maps/api/geocode/json?&address=37014%20veneto
            url  : 'http://maps.googleapis.com/maps/api/geocode/json',
            data : {
                address :  cp + 'veneto'
            },
            success : function( data, textStatus ) {
               var location  = {
                    'lat' : data.results[0].geometry.location.lat,
                    'lng' : data.results[0].geometry.location.lng
                }

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12,
                    center: location
                });
                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });

            }
        } );
    }
</script>

                                                                <!--SEARCH SECTION-->
<script>
 var cf_code ;
 var existing_tag;






 //this section is execute when user type in the search field
    $('.ui.search')
        .search({
            apiSettings: {
                url: '/all-students?q={query}'
            },
            searchFullText: false,
            silent: true, // no error in console
            onResults: function (response) {

                var html = '';
                if (response.length != 0) {
                    $.each(response, function (index, result) {

                            html += '<a onclick="setStudentData(this.id)" id="' + result.cf + '" class="result"><div class="content">';
                            html += '<div class="title"><b>' + result.cognome + '</b> ' + result.nome + '</div>';
                            html += '<i> Media voti: ' + result.voto + '</i>';

                            html += '' + '</div></a>';
                            return index < 6;

                    });
                    $('.ui.search div.results').html(html);
                }
                else{
                    html += '<div class="content">' +
                        '<div class="title">' +
                        '<b> Nessun risultato, riprovare con un altro nome' + '' +
                        '</div></div>';
                }
                $('.ui.search div.results').html(html);
                return false;
            }
        });


                                                                //set card with student data
    function setStudentData(cf) {
        cf_code = cf;
        console.log(cf)
        $.ajax({
            url: '/student-by-cf',
            data: {"cf": cf},
            type: 'get',
            success: function (data) {
                var ret = jQuery.parseJSON(data);
                $('#cognome').text(ret[0].cognome);
                $('#nome').text(ret[0].nome);
                $('#codice-catastale').text(ret[0].cod_cat);
                $('#media-voti').text(ret[0].voto);
                $('#anno-scolastico').text(ret[0].anno_scolastico);
                $('#cf').text(ret[0].cf);
                existing_tag = ret[0].tag;
                var postal_code = ret[0].CAP
                setDropdownData();

                //save to db if the dropdown has change
                $('.ui.modal').modal({
                    onHide: function(){
                        jQuery('#dropdown-container').empty();
                    },
                    onApprove: function() {
                        saveChangeToDB();
                        jQuery('#dropdown-container').empty();

                    },
                    onShow : function () {
                        initMap(postal_code);
                        console.log(postal_code);
                    }
                }).modal('show');

            },
            error: function (xhr, status, error) {
                console.log('Error: ' + error.message);
            },
        });
    }

                                                    //SET DROPWDOWN DATA//
   function setDropdownData() {

        $.ajax({
            url: '/all-tag',
            type: 'get',
            success: function (data) {
                var TAG = jQuery.parseJSON(data);


                $('<div/>', {
                    'class':'ui selection dropdown',
                    'id':'dropdown-data'
                }).appendTo($('#dropdown-container'));



                $('<input/>', {
                        'type':'hidden',
                        'name':'nessun tag'
                    }).appendTo($('#dropdown-data'));


                $('<i/>', {
                    'class':'dropdown icon',
                }).appendTo($('#dropdown-data'));

                if(existing_tag != null)
                {
                    $('<div/>', {
                        'class':'default text',
                        'text':existing_tag
                    }).appendTo($('#dropdown-data'));
                }
                else
                {
                    $('<div/>', {
                        'class':'default text',
                        'text':'nessuno'
                    }).appendTo($('#dropdown-data'));
                }


                $('<div/>', {
                    'class':'menu',
                    'id':'tag'
                }).appendTo($('#dropdown-data'));
                $('.ui.dropdown').dropdown();
                //tag
                for( var i = 0 ; i < TAG.length ; i++)
                {
                    $('<div/>', {
                        'class':'item',
                        'data-value':TAG[i].tag,
                        'text':TAG[i].tag
                    }).appendTo($('#tag'));
                }

                //il tag nessuno non è messo di default
                //quindi lo aggiungo
                if(existing_tag != null)
                {
                    $('<div/>', {
                        'class':'item',
                        'data-value':'nessuno',
                        'text':'nessuno'
                    }).appendTo($('#tag'));

                }

            },
            error: function (xhr, status, error) {
                console.log('Error: ' + error.message);

            },
        });
   }

                                                    //x close on the response div//
 $('.message .close').on('click', function() {
         $(this)
             .closest('.message')
             .transition('fade');
     });
</script>
                                                   <!--SAVE TAG TO DB-->
<script>
    function saveChangeToDB()
    {
        var tag = $('#dropdown-data').dropdown('get value');

        //tag default has change, so i save it to db
        if (tag == 'nessuno') tag = 'none';

        if (!(tag == ""))
        {
            $.ajax({
                url: '/update-tag',
                data: {
                    "tag": tag,
                    "cf" : cf_code
                },
                type: 'get',
                success: function (data) {
                    $("#response").removeClass('hidden').addClass('visible');
                },
                error: function (xhr, status, error) {
                    console.log('Error: ' + error.message);
                    $("#response").removeClass('visible').addClass('hidden');
                    $('#negative').removeClass('hidden').addClass('visible');

                },
            });
        }
    }
</script>


<!--close html tag-->
<% include tag-close.ejs %>