<% include header %>

<body>
<% include sidebar-start.ejs %>

<!--tabs-->
<div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">Prime</a>
    <a class="item " data-tab="third">Terze</a>
</div>
<div class="ui bottom attached tab active  segment" data-tab="first">

    <div class="ui two column centered grid">
        <div class="column">

            <table id="studenti" class="ui celled table" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>cognome</th>
                    <th>nome</th>
                    <th>cf</th>
                    <th>sesso</th>
                    <th>data_di_nascita</th>
                    <th>stato</th>
                    <th>cap_provenienza</th>
                    <!--<th>scelta_indirizzo</th>  ho commentato perchè troppo largo e rompe layout tabella-->
                    <th>anno_scolastico</th>
                    <th>anno</th>
                    <th>cod_cat</th>
                    <th>media_voti</th>
                    <th>classe_futura</th>
                    <th>tag</th>
                </tr>
                </thead>

                <tbody>
                <% for(var i = 0; i < studentsData.length; i++){ %>
                <tr>
                    <td><%= studentsData[i].cognome %></td>
                    <td><%= studentsData[i].nome %></td>
                    <td><%= studentsData[i].cf %></td>
                    <td><%= studentsData[i].sesso %></td>
                    <td><%= studentsData[i].data_di_nascita %></td>
                    <td><%= studentsData[i].stato %></td>
                    <td><%= studentsData[i].cap_provenienza %></td>
                    <!--<td><%= studentsData[i].scelta_indirizzo %></td>  ho commentato perchè troppo largo e rompe layout tabella -->
                    <td><%= studentsData[i].anno_scolastico %></td>
                    <td><%= studentsData[i].anno %></td>
                    <td><%= studentsData[i].cod_cat %></td>
                    <td><%= studentsData[i].media_voti %></td>
                    <td><%= studentsData[i].classe_futura %></td>

                    <td>
                        <select class="ui dropdown">
                            <option value="0">None</option>
                            <option value="1">Dsa</option>
                            <option value="2">Dcd</option>
                        </select>
                    </td>

                </tr>
                <% } %>

                </tbody>
                <tfoot>
                <tr>
                    <th>cognome</th>
                    <th>nome</th>
                    <th>cf</th>
                    <th>sesso</th>
                    <th>data_di_nascita</th>
                    <th>stato</th>
                    <th>cap_provenienza</th>
                    <!-- <th>scelta_indirizzo</th> ho commentato perchè troppo largo e rompe layout tabella -->
                    <th>anno_scolastico</th>
                    <th>anno</th>
                    <th>cod_cat</th>
                    <th>media_voti</th>
                    <th>classe_futura</th>
                    <th>tag</th>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>
    <!--close first tabs-->
</div>

<!--third tabs-->
<div class="ui bottom attached tab segment" data-tab="third">
    Third
</div>
<% include sidebar-stop.ejs %>
<!--personal script for specific page -->
<script>
    $('.menu .item')
            .tab()
    ;
</script>

<script>
    $(document).ready(function () {
        var table = $('#studenti').DataTable({
            processing: true,
            lengthChange: false,
            buttons: ['excel'],
            "columns": [
                {"data": "cognome"},
                {"data": "nome"},
                {"data": "cf"},
                {"data": "sesso"},
                {"data": "data_di_nascita"},
                {"data": "stato"},
                {"data": "cap_provenienza"},
                //{ "data": "scelta_indirizzo" },
                {"data": "anno_scolastico"},
                {"data": "anno"},
                {"data": "cod_cat"},
                {"data": "media_voti"},
                {"data": "classe_futura"},
                {"data": "tag"}
            ]
        });
        table.buttons().container()
                .appendTo($('div.eight.column:eq(0)', table.table().container()));
    });
</script>

<!--close html tag-->
<% include tag-close.ejs %>