<% include header %>

<body>
<% include sidebar-start.ejs %>

<% include finish-menu.ejs %>
<!--tabs-->
<div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">Studenti</a>
    <a class="item " data-tab="tags">Tags</a>
</div>
<div class="ui active inverted dimmer" id="table-loader">
    <div class="ui text loader">Creando la tabella.. </div>
</div>
<div class="ui bottom attached tab active  segment" data-tab="first">

    <div class="tableContainer" style="display: none;">
        <table id="studenti" class="ui celled teal table" cellspacing="0" width="100%" >
            <thead>
            <tr>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Matricola</th>
                <th>Codice fiscale</th>
                <th>Sesso</th>
                <th>Data di nascita</th>
                <th>Cap residenza</th>
                <th>Nazionalita</th>
                <th>Legge 107</th>
                <th>Legge 104</th>
                <th>Classe precedente</th>
                <th>Indirizzo di studio</th>
                <th>Voto</th>

            </tr>
            </thead>

            <tbody id="tbody-studenti"></tbody>
            <tfoot>
            <tr>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Matricola</th>
                <th>Codice fiscale</th>
                <th>Sesso</th>
                <th>Data di nascita</th>
                <th>Cap residenza</th>
                <th>Nazionalita</th>
                <th>Legge 107</th>
                <th>Legge 104</th>
                <th>Classe precedente</th>
                <th>Indirizzo di studio</th>
                <th>Voto</th>

            </tr>
            </tfoot>
        </table>
    </div>
    <!--close first tabs-->
</div>


<!--tags and insert-->
<div class="ui bottom attached tab segment" data-tab="tags">
    <div class="ui raised very padded text container segment">
        <h1 class="ui header">
            Inserimento tag
            <div class="sub header">Ricerca studente</div>
        </h1>
        <!--search-->
        <div class="ui category search">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Scrivi il nome...">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </div>


    <!--modal response -->
    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            <span id="cognome"></span>
            <span id="nome"></span>
        </div>
        <div class="image content">
            <div class="ui medium image">
                <div class="map" id="map"></div>
            </div>
            <div class="description">
                <div class="ui header">Dati</div>

                <!--table-->
                <table class="ui very basic collapsing celled table">
                    <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Dato</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    <tr>
                        <td>
                            <h4 class="ui image header">
                                <div class="content">
                                    <b>Media voti </b>
                                </div>
                            </h4>
                        </td>
                        <td>
                            <span id="media-voti"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="ui image header">
                                <div class="content">
                                    <b>Codice catastale </b>

                                </div>
                            </h4>
                        </td>
                        <td>
                            <span id="codice-catastale"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="ui image header">
                                <div class="content">
                                    <b>Codice fiscale </b>

                                </div>
                            </h4>
                        </td>
                        <td>
                            <span id="cf"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="ui image header">
                                <div class="content">
                                    <b>Anno scolastico </b>

                                </div>
                            </h4>
                        </td>
                        <td>
                            <span id="anno-scolastico"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!--contains the dropdown. It's generate automatically-->
                <div class="right floated column" id="dropdown-container"></div>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Chiudi
            </div>
            <div class="ui positive right labeled icon button">
                OK,fatto
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</div>

<% include sidebar-stop.ejs %>
<!--personal script for specific page -->
<script>
    $('.menu .item').tab();

</script>


<!--this part handle the dropdown of class click-->
<script>
    var settings = {
        language: {
            searchPlaceholder: "Studente",
            search: "Cerca:",
            EmptyTable: "Nessun alunno presente, vai nella sezione caricamento studenti per aggiungere degli studenti.",
            paginate: {"sFirst": "Primo", "sLast": "Ultimo", "sNext": "Avanti", "sPrevious": "Indietro"},
            "sLengthMenu": "Display _MENU_ records"
        },
        processing: true,
        lengthChange: false,
        buttons: ['excel'],
        "columns": [
            {"data": "cognome"},
            {"data": "nome"},
            {"data": "Matricola"},
            {"data": "Codice fiscale"},
            {"data": "Sesso"},
            {"data": "Data di nascita"},
            {"data": "Cap residenza"},
            {"data": "Nazionalita"},
            {"data": "Legge 107"},
            {"data": "Legge 104"},
            {"data": "Classe precedente"},
            {"data": "Indirizzo di studio"},
            {"data": "Voto"}


        ]
    };

    var annoScolastico = '<%= annoScolastico %>';
    var classeFutura = '<%= classeFutura %> ';
    var table;
    changeYearAndCLass(annoScolastico, classeFutura.toUpperCase(),true);


    /**
     *
     * @param anno_scolastico
     * @param classeFutura (toUpperCase)
     * @param firstTime check if create table or not
     */
    function changeYearAndCLass(anno_scolastico, classeFutura,firstTime) {

        if(firstTime)
        {
            table = $('#studenti').DataTable(settings);
        }
        else{
            $('.tableContainer').hide();
            $('#table-loader').removeClass('disabled').addClass('active');

            $("#tbody-studenti").empty();
            table.destroy();
            table = $('#studenti').DataTable(settings);
            table.clear();
        }


        $.ajax({
            url: '<%= endpoint.alunni.getStudentsFromSpecifiCYear %>',
            data: {
                classe_futura: classeFutura,
                anno_scolastico: anno_scolastico
            },
            success: function (data) {
                //populate table with tr
                var alunni = JSON.parse(data);
                var tr;
                var td;
                //iterate data and insert row
                for (var i = 0; i < alunni.length; i++) {
                    table.row.add({
                        "cognome": alunni[i].cognome,
                        "nome": alunni[i].nome,
                        "Matricola": alunni[i].matricola,
                        "Codice fiscale": alunni[i].cf,
                        "Sesso": alunni[i].sesso,
                        "Data di nascita": alunni[i].data_di_nascita,
                        "Cap residenza": alunni[i].cap,
                        "Nazionalita": alunni[i].nazionalita,
                        "Legge 107": alunni[i].legge_107,
                        "Legge 104": alunni[i].legge_104,
                        "Classe precedente": alunni[i].classe_precedente,
                        "Indirizzo di studio": alunni[i].scelta_indirizzo,
                        "Voto": alunni[i].voto
                    }).draw();


                }

                table.buttons().container()
                        .appendTo($('div.eight.column:eq(0)', table.table().container()));
                $('.sixteen').removeClass().addClass('tableContainer');
                $('.tableContainer').show();
                $('#table-loader').removeClass('active').addClass('disabled');

            }
        });
    }


</script>

<!--MAPS SECTION-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5HB8-mASDryN1tfLaJUvLVzd3ibJ5VUQ"></script>
<script>

    /**
     * param <cp> postal code -> es : 37030
     * this method init the maps
     * inside this, i call a api which return me the latitude and longitude by passing the postal code
     */
    function initMap(cp) {
        $.getJSON({
            //https://maps.googleapis.com/maps/api/geocode/json?&address=37014%20veneto
            url: 'http://maps.googleapis.com/maps/api/geocode/json',
            data: {
                address: cp + 'veneto'
            },
            success: function (data, textStatus) {
                var location = {
                    'lat': data.results[0].geometry.location.lat,
                    'lng': data.results[0].geometry.location.lng
                }

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12,
                    center: location
                });
                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });

            }
        });
    }
</script>

<!--SEARCH SECTION-->
<script>
    var cf_code;
    var hasExistingTag;


    //this section is execute when user type in the search field
    $('.ui.search')
            .search({
                apiSettings: {
                    url: '<%= endpoint.alunni.allStudents %>?q={query}'
                },
                searchFullText: false,
                silent: true, // no error in console
                onResults: function (response) {

                    var html = '';
                    if (response.length != 0) {
                        $.each(response, function (index, result) {

                            html += '<a onclick="setCardStudentData(this.id)" id="' + result.cf + '" class="result"><div class="content">';
                            html += '<div class="title"><b>' + result.cognome + '</b> ' + result.nome + '</div>';
                            html += '<i> Media voti: ' + result.voto + '</i>';

                            html += '' + '</div></a>';
                            return index < 6;

                        });
                        $('.ui.search div.results').html(html);
                    }
                    else {
                        html += '<div class="content">' +
                                '<div class="title">' +
                                '<b> Nessun risultato, riprovare con un altro nome' + '' +
                                '</div></div>';
                    }
                    $('.ui.search div.results').html(html);
                    return false;
                }
            });


    //set card with student data
    function setCardStudentData(cf) {
        cf_code = cf;
        console.log(cf)
        $.ajax({
            url: '<%= endpoint.alunni.studentByCf %>',
            data: {"cf": cf},
            type: 'get',
            success: function (data) {
                var ret = jQuery.parseJSON(data);
                $('#cognome').text(ret[0].cognome);
                $('#nome').text(ret[0].nome);
                $('#codice-catastale').text(ret[0].cod_cat);
                $('#media-voti').text(ret[0].voto);
                $('#anno-scolastico').text(ret[0].anno_scolastico);
                $('#cf').text(ret[0].cf);
                hasExistingTag = ret[0].tag;
                var postal_code = ret[0].cap;

                <% if (user.diritti == 0 || user.diritti == 1 ) { %>
                getAllTag();
                <% } %>


                //save to db if the dropdown has change
                $('.ui.modal').modal({
                    onHide: function () {
                        jQuery('#dropdown-container').empty();
                    },
                    onApprove: function () {
                        saveChangeToDB();
                        jQuery('#dropdown-container').empty();

                    },
                    onShow: function () {
                        initMap(postal_code);
                        console.log(postal_code);
                    }
                }).modal('show');

            },
            error: function (xhr, status, error) {
                console.log('Error: ' + error.message);
            }
        });
    }

    var allTag = undefined;                                                //SET DROPWDOWN DATA//
    function getAllTag() {
        if (allTag === undefined) {
            $.ajax({
                url: '<% endpoint.alunni.allTag %>',
                type: 'get',
                success: function (data) {
                    //optimize api call
                    allTag = JSON.parse(data);
                    setDropDonwData();

                },
                error: function (xhr, status, error) {
                    console.log('Error: ' + error.message);
                    alertify.error('Error: ' + error.message);
                }
            });
        }
        else setDropDonwData();


    }

    function setDropDonwData() {
        var userTagInformation = null;

        $('<div/>', {
            'class': 'ui selection dropdown',
            'id': 'dropdown-data'
        }).appendTo($('#dropdown-container'));

        $('<input/>', {
            'type': 'hidden',
            'name': 'nessun tag'
        }).appendTo($('#dropdown-data'));

        $('<i/>', {
            'class': 'dropdown icon'
        }).appendTo($('#dropdown-data'));

        if (hasExistingTag != null) {
            for (var i = 0; i < allTag.length; i++) {
                if (allTag[i].id == hasExistingTag)userTagInformation = allTag[i];

            }

            $('<div/>', {
                'class': 'default text',
                'text': userTagInformation.type,
                'data-value': userTagInformation.id,
            }).appendTo($('#dropdown-data'));
        }
        else {
            $('<div/>', {
                'class': 'default text',
                'data-value': "-1",
                'text': 'nessuno'
            }).appendTo($('#dropdown-data'));
        }

        $('<div/>', {
            'class': 'menu',
            'id': 'tag'
        }).appendTo($('#dropdown-data'));
        $('.ui.dropdown').dropdown();

        //tag nel dropdown
        if (hasExistingTag == null) {
            for (var i = 0; i < allTag.length; i++) {
                $('<div/>', {
                    'class': 'item',
                    'data-value': allTag[i].id,
                    'text': allTag[i].type
                }).appendTo($('#tag'));
            }
        }
        else {
            for (var i = 0; i < allTag.length; i++) {
                if (userTagInformation.id == allTag[i].id) {
                    $('<div/>', {
                        'class': 'item',
                        'data-value': 'nessuno',
                        'text': 'nessuno'
                    }).appendTo($('#tag'));
                }
                else {


                    $('<div/>', {
                        'class': 'item',
                        'data-value': allTag[i].id,
                        'text': allTag[i].type
                    }).appendTo($('#tag'));

                }
            }
        }
    }
</script>
<!--SAVE TAG TO DB-->
<script>
    function saveChangeToDB() {
        var tag = $('#dropdown-data').dropdown('get value');

        //tag default has change, so i save it to db
        if (tag == 'nessuno') tag = 'none';

        //-1 ->update tag  to null
        if (tag == "-1") tag = 'none';

        if (!(tag == "")) {
            $.ajax({
                url: '<% endpoint.alunni.updateTag %>',
                data: {
                    "tag": tag,
                    "cf": cf_code
                },
                type: 'get',
                success: function (data) {
                    alertify.set('notifier', 'position', 'top-right');
                    alertify.success("Ok! Il tag è stato aggiunto")
                },
                error: function (xhr, status, error) {
                    alertify.set('notifier', 'position', 'top-right');
                    console.log('Error: ' + error.message);
                    alertify.error('Error: ' + error.message);
                }
            });
        }
    }
</script>


<!--close html tag-->
<% include tag-close.ejs %>